body {
  margin: 0;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

*:focus {
  outline: none;
}

#root {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}